<div class="body">
    <h1>Taller Angular Luis Rodriguez</h1>
    <div class="parrafoeimagen">
        <div class="parrafo">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis qui quaerat unde facere, cumque, et, eius labore corporis omnis quas recusandae accusamus accusantium animi? Totam itaque quasi nisi voluptate quam.</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi maiores facere modi fuga labore sapiente, exercitationem odio laboriosam. Quas quia necessitatibus alias veritatis rerum error est deserunt tempora non nisi?</p>
        </div>
        
    <img class="img-cuerpo" src="../../assets/img/cuerpo.png" alt="img-cuerpo"/>
    </div>
    <div class="cards">
    <mat-card class="example-card">
        <mat-card-title-group>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Large</mat-card-subtitle>
          <img mat-card-lg-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
        </mat-card-title-group>
        <mat-card-content>
          {{longText}}
        </mat-card-content>
      </mat-card>
      <div class="card2">
      <mat-card class="example-card" >
        <mat-card-title-group>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Large</mat-card-subtitle>
          <img mat-card-lg-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
        </mat-card-title-group>
        <mat-card-content>
          {{longText}}
        </mat-card-content>
      </mat-card>
    </div>
      <mat-card class="example-card">
        <mat-card-title-group>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Large</mat-card-subtitle>
          <img mat-card-lg-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
        </mat-card-title-group>
        <mat-card-content>
          {{longText}}
        </mat-card-content>
      </mat-card>
      
    </div>

</div>
