.body{
    width: 100%;
    height: 700px;
    padding-top: 200px;
  
   
}
.body h1{
   color: aliceblue;
   text-align: center;
}
.body p{
    color: aliceblue;
}
.logo{
    width: 100%;
    height: 800px;
}
.img-cuerpo{
    width: 500px;
    height: 300px;
}
.parrafoeimagen{
    display: flex;
    margin: 0px 10px 0px 10px;
}
.example-card {
    max-width: 400px;
    margin-bottom: 8px;
  }

.cards{
    margin: 10px 5px 0px 20px;
    display: flex;  
}
.card2{
    margin: 0px 10px 0px 10px;
}